*{
    box-sizing: border-box;
}
body{
    padding: 0;
    margin: 0;  
}
.page-actions-cont{
    height: 3rem;
    background-color:#2ed573;
    display: flex;
    align-items: flex-end;
    padding-left: 1rem;
}
.page-action{
    margin: 0.5rem;
    color:#ffffff;
}

.font-family-prop{
    padding: 0.2rem;

}
.font-size-prop{
    padding: 00.2rem;
}

.cellprops-actions-cont{
    height: 3rem;
    background-color:#ecf0f1;
    display: flex;
    align-items: center;
    padding-left: 1rem;
}
.cellprops-actions-cont>*{
    display: inline-block;
    margin: 00.5rem;
    margin-right: 1rem;
}
.cellprops-actions-cont > select{
    border: none;
    border-radius: 1px;
    outline:none;
}
.formula-action-cont{
    height: 2rem;
    background-color:#ecf0f1;
    padding-left: 1rem;
    display: flex;
    align-items: center;
}
.formula-action-cont > *{
    display: inline-block;
    margin-right: 0.5rem;
}
.formula-icon{
    /* height: 1.2rem; */
    width: 1.2rem;
} 
.address-bar{
   width: 5rem;
}

.formula-bar{
    width: 100vw;
}
.formula-action-cont > input{
    border: none;
    outline: none;
    height: 70%;
}

.sheet-action-cont{
    height: 3rem;
    width: 100vw;
    position: absolute;
    bottom: 0;
    display: flex;
    align-content: center;
    padding:  0.5rem 0.5rem;
    gap: 1rem;
    background-color: #ecf0f1;
}
.sheet-action-cont>*{
    display: inline-block;
}  
.sheet-add-icon{
    margin-left: 0.3rem;
    margin-right: 0.3rem;
    width :2vw;
}
.sheets-folder-cont{
    display: flex;
    align-items: center;
    height: 80%;
    width: 5rem;
    /* background-color: yellow; */
    width: calc( 100vw - 2vw );
}
.sheet-folder{
    text-decoration: underline;
    font-weight: bold;
    text-decoration-thickness: 5px;

}
.grid-cont{
    height: calc(100vh - 3rem - 3rem - 2rem - 3rem);
    position: relative;
    overflow: scroll;
    background: #ecf0f1;
    
}
.top-left-dummy-box{    
    height: 2rem;
    width: 2rem;
    background-color:#747d8c;
    position: fixed;
    z-index: 5;
}
.address-col-cont{
    position: sticky;
    top: 2rem;
    left: 0;
}
.address-row-cont{
    display: flex;  
    position: sticky;
    top: 0.01rem;
    left: 0;

}
.cells-cont{
    position: absolute;
    top: 0;
    left: 2rem; 

}
.address-col{
    height: 2rem;
    width: 2rem;
    text-align: center;
    justify-content: center;
    align-items: center;
    border: 1px solid #dfe4ea;
}
.address-row{
    height: 2rem;
    width: 5rem;
    border: 1px solid #dfe4ea;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.row-cont{
    display:flex;
}
.ceil{
    height: 2rem;
    width: 5rem;
    border: 1px solid #dfe4ea;

    
}